{% extends "layout.html" %}
{% block title %}
    Create Event
{% endblock %}
{% block main %}
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Create Event</h1>
        <form action="/create_event" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="event_name" class="form-label">What is a good name for your event?</label>
                <input autofocus type="text" id="event_name" name="event_name" class="form-control" placeholder="My TODO List" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Start Event</button>
        </form>
    </div>
{% endblock %}