{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h2>History</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Amount</th>
                <th scope="col">Date/Time</th>
                <th scope="col">Transaction</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td >{{ stock.symbol }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.amount }}</td>
                <td>{{ stock.timestamp }}</td>
                <td>{{ stock.transaction_type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
