{% extends "layout.html" %}
{% block title %}
Event
{% endblock %}
{% block main %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Get Started by Creating an Event</h1>
    <div class="text-center mb-5">
        <a href="/create_event" class="btn btn-primary">Create Event</a>
    </div>
    <h2 class="mb-3">My Events</h2>
    <ul class="list-group">
        {% for event in events %}
        <li class="list-group-item">
            <a href="/view_event/{{ event.id }}">{{ event.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}