{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select autofocus class="form-select mx-auto w-auto" name="symbol" required>
            <option selected>Select</option>
                {% for stock in stocks %}
                <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Number of shares" type="number" min="1">
        </div>

        <button class="btn btn-primary" type="submit" id="sell">Sell</button>

    </form>
{% endblock %}
